In [60]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.tree import DecisionTreeRegressor
import matplotlib.pyplot as plt 

from xgboost import XGBClassifier

In [3]:
print(skl.__version__)

1.2.2

In [22]:
df_train_original = pd.read_csv('train.csv')
df_test_original = pd.read_csv('test.csv')
df_train_original.head(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [23]:
## for checking for null values in the data
df_original.isna().sum()

id                      0
Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64

In [24]:
# encoder = OneHotEncoder()
# pincode_encoded = encoder.fit_transform(df[['Region_Code']]).toarray()
# pincode_df = pd.DataFrame(pincode_encoded, columns=encoder.get_feature_names_out(['Region_Code']))

# Concatenate the original dataframe with the encoded pincode dataframe
# df = pd.concat([df.drop('Region_Code', axis=1), pincode_df], axis=1)

In [25]:
## modding the columns of training dataset

In [26]:
df_train_original['Vehicle_Damage_1'] = pd.get_dummies(df_train_original['Vehicle_Damage'],drop_first=True,dtype=float)
df_train_original['Gender_1'] = pd.get_dummies(df_train_original['Gender'],drop_first=True,dtype=float)
Vehicle_Age_Encoded = pd.get_dummies(df_train_original['Vehicle_Age'],drop_first=True,dtype=float)
df_train_original=pd.concat([df_train_original,Vehicle_Age_Encoded],axis = 1)

In [28]:
df_test_original['Vehicle_Damage_1'] = pd.get_dummies(df_test_original['Vehicle_Damage'],drop_first=True,dtype=float)
df_test_original['Gender_1'] = pd.get_dummies(df_test_original['Gender'],drop_first=True,dtype=float)
Vehicle_Age_Encoded = pd.get_dummies(df_test_original['Vehicle_Age'],drop_first=True,dtype=float)
df_test_original=pd.concat([df_test_original,Vehicle_Age_Encoded],axis = 1)

In [29]:
df_train_original.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Vehicle_Damage_1,Gender_1,< 1 Year,> 2 Years
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0,1.0,1.0,0.0,0.0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1,1.0,1.0,0.0,1.0
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0,0.0,0.0,1.0,0.0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0,1.0,0.0,0.0,0.0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0,0.0,0.0,0.0,0.0

In [30]:
df_test_original.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Damage_1,Gender_1,< 1 Year,> 2 Years
0,11504798,Female,20,1,47.0,0,< 1 Year,No,2630.0,160.0,228,0.0,0.0,1.0,0.0
1,11504799,Male,47,1,28.0,0,1-2 Year,Yes,37483.0,124.0,123,1.0,1.0,0.0,0.0
2,11504800,Male,47,1,43.0,0,1-2 Year,Yes,2630.0,26.0,271,1.0,1.0,0.0,0.0
3,11504801,Female,22,1,47.0,1,< 1 Year,No,24502.0,152.0,115,0.0,0.0,1.0,0.0
4,11504802,Male,51,1,19.0,0,1-2 Year,No,34115.0,124.0,148,0.0,1.0,0.0,0.0

In [31]:
df_train_original.drop(columns=['Gender','Vehicle_Damage','Vehicle_Age'],axis=1,inplace=True)
df_train_original.drop(columns=['id'],axis=1,inplace=True)

In [32]:
ids = df_test_original['id']

In [33]:
ids.head()

0    11504798
1    11504799
2    11504800
3    11504801
4    11504802
Name: id, dtype: int64

In [34]:
df_test_original.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Damage_1,Gender_1,< 1 Year,> 2 Years
0,11504798,Female,20,1,47.0,0,< 1 Year,No,2630.0,160.0,228,0.0,0.0,1.0,0.0
1,11504799,Male,47,1,28.0,0,1-2 Year,Yes,37483.0,124.0,123,1.0,1.0,0.0,0.0
2,11504800,Male,47,1,43.0,0,1-2 Year,Yes,2630.0,26.0,271,1.0,1.0,0.0,0.0
3,11504801,Female,22,1,47.0,1,< 1 Year,No,24502.0,152.0,115,0.0,0.0,1.0,0.0
4,11504802,Male,51,1,19.0,0,1-2 Year,No,34115.0,124.0,148,0.0,1.0,0.0,0.0

In [35]:
df_test_original.drop(columns=['Gender','Vehicle_Damage','Vehicle_Age'],axis=1,inplace=True)

In [36]:
df_test_original.head()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Damage_1,Gender_1,< 1 Year,> 2 Years
0,11504798,20,1,47.0,0,2630.0,160.0,228,0.0,0.0,1.0,0.0
1,11504799,47,1,28.0,0,37483.0,124.0,123,1.0,1.0,0.0,0.0
2,11504800,47,1,43.0,0,2630.0,26.0,271,1.0,1.0,0.0,0.0
3,11504801,22,1,47.0,1,24502.0,152.0,115,0.0,0.0,1.0,0.0
4,11504802,51,1,19.0,0,34115.0,124.0,148,0.0,1.0,0.0,0.0

In [37]:
df_test_original.drop(columns=['id'],axis=1,inplace=True)

In [38]:
df_test_original.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Damage_1,Gender_1,< 1 Year,> 2 Years
0,20,1,47.0,0,2630.0,160.0,228,0.0,0.0,1.0,0.0
1,47,1,28.0,0,37483.0,124.0,123,1.0,1.0,0.0,0.0
2,47,1,43.0,0,2630.0,26.0,271,1.0,1.0,0.0,0.0
3,22,1,47.0,1,24502.0,152.0,115,0.0,0.0,1.0,0.0
4,51,1,19.0,0,34115.0,124.0,148,0.0,1.0,0.0,0.0

In [39]:
df_test_original.rename(columns={'< 1 Year': 'less_than_1year', '> 2 Years': 'More_than_2years'}, inplace=True)

df_train_original.rename(columns={'< 1 Year': 'less_than_1year', '> 2 Years': 'More_than_2years'}, inplace=True)

In [40]:
df_train_original.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response,Vehicle_Damage_1,Gender_1,less_than_1year,More_than_2years
0,21,1,35.0,0,65101.0,124.0,187,0,1.0,1.0,0.0,0.0
1,43,1,28.0,0,58911.0,26.0,288,1,1.0,1.0,0.0,1.0
2,25,1,14.0,1,38043.0,152.0,254,0,0.0,0.0,1.0,0.0
3,35,1,1.0,0,2630.0,156.0,76,0,1.0,0.0,0.0,0.0
4,36,1,15.0,1,31951.0,152.0,294,0,0.0,0.0,0.0,0.0

In [41]:
df_test_original.head()

,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Damage_1,Gender_1,less_than_1year,More_than_2years
0,20,1,47.0,0,2630.0,160.0,228,0.0,0.0,1.0,0.0
1,47,1,28.0,0,37483.0,124.0,123,1.0,1.0,0.0,0.0
2,47,1,43.0,0,2630.0,26.0,271,1.0,1.0,0.0,0.0
3,22,1,47.0,1,24502.0,152.0,115,0.0,0.0,1.0,0.0
4,51,1,19.0,0,34115.0,124.0,148,0.0,1.0,0.0,0.0

In [42]:
X = df_train_original.drop('Response',axis=1)
Y = df_train_original['Response']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [44]:
X_train.shape

(9203838, 11)

In [45]:
Y_train.shape

(9203838,)

In [46]:
X_test.shape

(2300960, 11)

In [47]:
Y_test.shape

(2300960,)

In [49]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

df_test_original_scaled = scaler.transform(df_test_original)

In [55]:
model_linear = LogisticRegression(random_state = 123)

In [56]:
model_linear.fit(X_train_scaled,Y_train)

LogisticRegression(random_state=123)

In [57]:
accuracy_score(Y_test,model_linear.predict(X_test_scaled))

0.8768957304777136

In [61]:
model_boost = XGBClassifier(n_estimators = 2500, max_depth = 5, eval_metric = 'auc')

In [62]:
model_boost.fit(X,Y)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='auc', feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=5, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=2500, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [63]:
pred = model_boost.predict_proba(df_test_original)

In [65]:
pred_final = pred[:,1]
pred_final.shape

(7669866,)

In [66]:
pred_final

array([3.2739579e-03, 4.8879340e-01, 2.1384574e-01, ..., 1.6906188e-04,
       5.6489307e-01, 6.4113541e-05], dtype=float32)

In [67]:
df_submission = pd.DataFrame({
    'id':ids,
    'Response':pred_final
})

In [68]:
df_submission.head()

         id  Response
0  11504798  0.003274
1  11504799  0.488793
2  11504800  0.213846
3  11504801  0.000041
4  11504802  0.061009

In [70]:
df_submission.shape

(7669866, 2)

In [71]:
df_submission.to_csv('output4.csv',index=False)

In [38]:
X = df.drop(columns=['Response','id'])
Y = df['Response']

In [39]:
X.head()

,Age,Driving_License,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Vehicle_Age_1-2 Year,Vehicle_Age_< 1 Year,Vehicle_Age_> 2 Years,Vehicle_Damage_No,Vehicle_Damage_Yes,Gender_Female,Gender_Male
0,21,1,0,65101.0,124.0,187,True,False,False,False,True,False,True
1,43,1,0,58911.0,26.0,288,False,False,True,False,True,False,True
2,25,1,1,38043.0,152.0,254,False,True,False,True,False,True,False
3,35,1,0,2630.0,156.0,76,True,False,False,False,True,True,False
4,36,1,1,31951.0,152.0,294,True,False,False,True,False,True,False

In [40]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11504798 entries, 0 to 11504797
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Age                    int64
 1   Driving_License        int64
 2   Previously_Insured     int64
 3   Annual_Premium         float64
 4   Policy_Sales_Channel   float64
 5   Vintage                int64
 6   Vehicle_Age_1-2 Year   bool
 7   Vehicle_Age_< 1 Year   bool
 8   Vehicle_Age_> 2 Years  bool
 9   Vehicle_Damage_No      bool
 10  Vehicle_Damage_Yes     bool
 11  Gender_Female          bool
 12  Gender_Male            bool
dtypes: bool(7), float64(2), int64(4)
memory usage: 603.5 MB

In [42]:
Y.head()

0    0
1    1
2    0
3    0
4    0
Name: Response, dtype: int64

In [43]:
Y.head()

0    0
1    1
2    0
3    0
4    0
Name: Response, dtype: int64

In [44]:
X_train,X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=123)

In [45]:
X_train.shape

(9203838, 13)

In [46]:
X_test.shape

(2300960, 13)

In [47]:
Y_train.shape

(9203838,)

In [48]:
Y_test.shape

(2300960,)

In [49]:
model = DecisionTreeRegressor()

In [50]:
model.fit(X_train,Y_train)

DecisionTreeRegressor()

In [55]:
y_pred = model.predict(X_test)

In [56]:
#accuracy = accuracy_score(Y_test,y_pred)

In [57]:
conf_mat = confusion_matrix(Y_test,y_pred)
class_report = classification_report(Y_test, y_pred)
mse = mean_squared_error(Y_test,y_pred)

ValueError: Classification metrics can't handle a mix of binary and continuous targets

In [64]:
#print("The accuracy is ",accuracy*100)
#print("The confusion matrix is ",conf_mat)
#print("The classification report is ",class_report)
#print("The mean squared error is ",mse)

(2300960,)

In [80]:
df_new = pd.read_csv('test.csv')

In [81]:
df_new.head(5)
df_new1 =df_new.drop(columns=['Region_Code','id'])

In [82]:
X_test_new = pd.get_dummies(df_new1,columns=['Vehicle_Age','Vehicle_Damage','Gender'])

In [83]:
predictions = model.predict(X_test_new)

In [84]:
df_final = pd.DataFrame({
    'id': df_new['id'],
    'Response': predictions
})

In [85]:
df_final.head()

         id  Response
0  11504798  0.000000
1  11504799  0.000000
2  11504800  0.333333
3  11504801  0.000000
4  11504802  0.000000

In [86]:
df_final.to_csv('output3.csv',index=False)

In [54]:

df_final.columns = ['id','Response1']

In [56]:
df_final['Response'] = df_final['Response1'].astype(int)

In [58]:
df_final= df_final.drop(columns=['Response1'])

In [59]:
df_final.to_csv('output1.csv',index=False)